@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Montserrat&family=Roboto&display=swap');

:root {
  --primary-color: rgb(255, 92, 92);
  --primary-color: #ff5c5c;
  --primary-variant: #ff2d2d;
  --secondary-color: #1b9999;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

[data-theme='dark'] {
  --primary-color: rgb(150, 65, 255);
  --primary-variant: #6c63ff;
  --secondary-color: #03dac5;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #121212;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: url(img/hideout.svg);
  color: var(--on-background);
  background-color: var(--background);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Marck Script', cursive;
  font-size: 10rem;
  margin-bottom: 0;
}

h2 {
  color: var(--on-background-alt);
  font-size: 3.2rem;
  font-weight: normal;
}

/* Navigation */
nav {
  z-index: 10;
  position: fixed;
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  padding: 2.5rem;
  width: 100vw;
  background: rgb(255 255 255 / 50%);
}

a {
  margin-right: 2.5rem;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
  transition: all .3s ease-in-out;
}

a:hover,
a:focus {
  color: var(--on-background);
  border-bottom: 3px solid;
}

/* Home Section */
.title-group {
  text-align: center;
}

/* About Section */
.about-container {
  display: flex;
}

.image-container {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 1rem  2rem;
  margin-right: 2.5rem;
  width: auto;
  background: var(--background);
  box-shadow: var(--box-shadow);
}

img {
  height: 30rem;
  width: 30rem;
}

/* Projects Section */
.buttons {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}

button {
  min-width: 10rem;
  height: 4rem;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 1rem;
  border: 2px solid var(--primary-color);
  font-size: 1.5rem;
  outline: none;
}

button:disabled {
  opacity: 0.4;
  cursor: default;
}

button:hover:not(.outline) {
  filter: brightness(110%);
}

.primary {
  background: var(--primary-color);
  color: var(--on-primary);
}

.secondary {
  border: 2px solid var(--secondary-color);
}

.secondary,
.secondary:hover,
.outline.secondary:hover {
  background: var(--secondary-color);
  color: var(--on-primary);
}

.outline {
  background: var(--background);
  color: var(--on-background);
}

.outline:hover {
  background: var(--primary-color);
  color: var(--on-primary);
}

.text-box {
  width: 40%;
  text-align: justify;
  background: rgb(0 0 0 / 50%);
  color: var(--on-primary);
  border-radius: 10px;
  padding: 3rem;
}

p {
  margin: 0;
  line-height: 25px;
}

/* Contact Section */
.fab {
  font-size: 10rem;
  margin-right: 5rem;
  cursor: pointer;
  color: var(--primary-color);
}

.fab:hover {
  color: var(--on-background);
}

/* Dark Mode Toggle */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  right: 2.5rem;
  top: 3rem;
}

.theme-switch-wrapper span {
  margin-right: 1rem;
  font-size: 1.6rem;
}

.toggle-text {
  position: relative;
  top: -0.4rem;
  right: .5rem;
  color: var(--on-background);
}

.theme-switch {
  display: inline-block;
  height: 3.4rem;
  position: relative;
  width: 6rem;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: .4rem;
  content: '';
  height: 2.6rem;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 2.6rem;
}

input:checked + .slider {
  background: var(--primary-color);
}

input:checked + .slider::before {
  transform: translateX(2.6rem);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.fas {
  font-size: 3rem;
  margin-right: .5rem;
}
